body {
    background: url("../images/capa.jpg") no-repeat;
    background-size: cover;
}

.home {
    width: 800px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 1px 10px 1px 10px;
}

.home a {
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    width: 120px;
}

.entrar {
    background-color: rgb(40, 167, 69,0.9) !important;
    width: 240px !important;
}

.entrar:hover{
    background-color: rgb(3, 94, 24) !important;
}

.login {
    width: 500px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1px 10px 1px 10px;
    background-color: rgba(114, 95, 124, 0.6);
    background-image: linear-gradient(to bottom, rgba(128, 0, 128, 0.6), rgba(101, 88, 178, 0.6));
}

.register {
    width: 1300px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1px 10px 1px 10px;
    background-color: rgba(114, 95, 124, 0.6);
    background-image: linear-gradient(to bottom, rgba(128, 0, 128, 0.6), rgba(101, 88, 178, 0.6));
}

.register-user {
    width: 800px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    padding:1px 10px 1px 10px;
    background-color: rgba(114, 95, 124, 0.6);
    background-image: linear-gradient(to bottom, rgba(128, 0, 128, 0.6), rgba(101, 88, 178, 0.6));
}

.login label, .register label, .register-user label {
    margin-top: 1px;
    color: whitesmoke;
    font: bold 14px/30px Arial, sans-serif;
}

.foto {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

.foto-entrar {
    width: 420px;
    height: auto;
    margin: 0 auto;
}

.cadastre {
    font-family: 'Pacifico', cursive;
    color: rgb(82, 5, 82);
    font-size: 38px;
}